<!DOCTYPE html>
<html>
    <head>
        <title>Steam Wishlist</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="content">
            <nav>
                <a href="/">Home</a>
                <div>
                    <a href="/create_game">Add Game</a>

                    <a href="/signup">Sign Up</a>
                    <a href="/login">Log In</a>
                    <a href="/logout">Log Out</a>
                </div>
            </nav>

            {% for message in get_flashed_messages() %}
                <p>{{ message }}</p>
            {% endfor %}

            {% if current_user.is_authenticated %}
                <p>Welcome back {{ current_user.username }}!</p>
            {% endif %}
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
