{% extends 'base.html' %}

{% block content %}

<form method="POST" action="{{ url_for('main.create_game') }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Enter a game</legend>

        {{ form.title.label }}
        {{ form.title }}
        <ul>
        {% for error in form.title.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>

        {{ form.image.label }}
        {{ form.image }}
        <ul>
        {% for error in form.image.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>
        
        {{ form.publish_date.label }}
        {{ form.publish_date(placeholder="YYYY-mm-dd") }}
        <ul>
        {% for error in form.title.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>
        
        {{ form.publisher.label }}
        {{ form.publisher }}
        <ul>
        {% for error in form.publisher.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>
            
        {{ form.submit }}
    </fieldset>
</form>

{% endblock %}
