{% extends 'base.html' %}

{% block content %}

<h1 class="gameTitle" >{{ game.title }}</h1>

<form class="favButton" action="/favorite/{{ game.id }}" method="POST">
    <input type="submit" value="Add to wishlist">
</form>

<form class="favButton" action="/unfavorite/{{ game.id }}" method="POST">
    <input type="submit" value="Remove from wishlist">
</form>

<p>
    <strong>Publisher</strong>: {{ game.publisher.name }}
</p>

<p>
    <strong>Publish date</strong>: {{ game.publish_date }}
</p>

<form method="POST" action="{{ url_for('main.game_detail', game_id=game.id) }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Edit this game</legend>

        {{ form.title.label }}
        {{ form.title }}
        
        {{ form.publish_date.label }}
        {{ form.publish_date(placeholder="YYYY-mm-dd") }}
        
        {{ form.publisher.label }}
        {{ form.publisher }}
            
        {{ form.submit }}
    </fieldset>
</form>

{% endblock %}
