{% extends 'base.html' %}

{% block content %}

<h1>{{ game.title }}</h1>

<!-- TODO: Show this only if the user is logged in and the game is not in their 
    favorites-->
<form action="/favorite/{{ game.id }}" method="POST">
    <input type="submit" value="Add to wishlist">
</form>


<!-- TODO: Show this only if the user is logged in and the game is not in their 
    favorites-->
<form action="/unfavorite/{{ game.id }}" method="POST">
    <input type="submit" value="Remove from wishlist">
</form>

<p>
    <strong>Publisher</strong>: {{ game.publisher.name }}
</p>

<p>
    <strong>Publisher Bio</strong>: {{ game.publisher.biography }}
</p>

<p>
    <strong>Publish date</strong>: {{ game.publish_date }}
</p>

<p>
    <strong>Audience</strong>: {{ game.audience }}
</p>

<p>
    <strong>Genres</strong>: 
    
    {% for genre in game.genres %}
    {{ genre.name }},
    {% endfor %}
</p>

<form method="POST" action="{{ url_for('main.game_detail', game_id=game.id) }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Edit this game</legend>

        {{ form.title.label }}
        {{ form.title }}
        
        {{ form.publish_date.label }}
        {{ form.publish_date(placeholder="YYYY-mm-dd") }}
        
        {{ form.publisher.label }}
        {{ form.publisher }}
        
        {{ form.audience.label }}
        {{ form.audience }}
        
        {{ form.genres.label }}
        {{ form.genres }}
            
        {{ form.submit }}
    </fieldset>
</form>

{% endblock %}
