{% extends 'base.html' %}

{% block content %}

<h2>Browse</h2>

<ul class="gallery">
    {% for game in all_games %}
        <li class="box">
            <a href="/game/{{ game.id }}">{{ game.title }}: by {{ game.publisher.name }}
                <img src="{{ game.image }}"> </a> 
                
        </li>
    {% endfor %}
</ul>

<h2>Users</h2>

<ul class="users">
    {% for user in all_users %}
        <li><a href="/profile/{{ user.username }}">{{ user.username }}</a></li>
    {% endfor %}
</ul>



{% endblock %}