{% extends 'base.html' %}

{% block content %}

<p>
Welcome to {{ user.username }}'s profile.
</p>

<!-- TODO: Display the user's actual favorites here -->

<p>
    {{ user.username }}'s Wishlist:

    <ul class="gallery">
        {% for game in user_wishlist %}
            <li class="box">
                <a href="/game/{{ game.id }}">{{ game.title }}: by {{ game.publisher.name }}
                    <img src="{{ game.image }}"> </a> 
                    
            </li>
        {% endfor %}
    </ul>
    
</p>

{% endblock %}